{% extends "events/base.html" %}

{% block title %}Event List{% endblock %}

{% block content %}
<div class="container my-5">
    <h1 class="text-center">Discover Exciting Upcoming Events</h1>
    <p class="lead text-center">Explore a variety of events tailored for every interest. Plan ahead and make your moments unforgettable.</p>
    <div class="row">
        {% for event in events %}
        <div class="col-sm-6 col-md-4 col-lg-4 mb-4">
            <div class="card">
                <img src="{{ event.image.url }}" class="card-img-top" alt="{{ event.title }}">
                <div class="card-body">
                    <h5 class="card-title">{{ event.title }}</h5>
                    <p class="card-text">{{ event.description|truncatewords:20 }}</p>
                    <p class="text-muted"><strong>Date:</strong> {{ event.date|date:"F j, Y" }}</p>
                    <a href="{% url 'event_detail' event.pk %}" class="btn btn-primary">Learn More</a>
                </div>
            </div>
        </div>
        {% empty %}
        <div class="col-12">
            <p class="text-center">No events found.</p>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}


