{% extends "admin/base.html" %}

{% block title %}
    {% if subtitle %}{{ subtitle }} | {% endif %}{{ title }} | {{ site_title|default:_('Event Planner Admin') }}
{% endblock %}

{% block branding %}
    <div id="site-name">
        <a href="{% url 'admin:index' %}">Event Planner Admin</a>
    </div>
    {% if user.is_anonymous %}
        {% include "admin/color_theme_toggle.html" %}
    {% endif %}
{% endblock %}

{% block nav-global %}
    <!-- Add any global navigation links here if needed -->
{% endblock %}

{% block extrastyle %}
    <!-- Load static files -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'events/static/css/admin_styles.css' %}">
{% endblock %}

{% block footer %}
    <div class="footer text-center">
        <p>&copy; 2024 Event Planner | Powered by Django</p>
    </div>
{% endblock %}



