{% extends 'events/base.html' %}

{% block title %}Login{% endblock %}

{% block content %}

<div class="container mt-5">
    <h1 class="text-center mb-4">Login</h1>
    <p class="text-center mb-4">Please log in to access event posting and other features!</p>

    <p class="text-center mb-4"><strong>username: </strong><italic>user1</italic></p>
    <p class="text-center mb-4"><strong>password: </strong><italic>greate-candidate</italic></p>

    <form action="{% url 'user_auth:login' %}" method="post" 
        class="bg-light p-4 rounded shadow-sm" style="max-width: 400px; margin: 0 auto;">
        
        {% csrf_token %}
        
        <!-- Hidden field to redirect after login -->
        <input type="hidden" name="next" value="{{ request.GET.next }}">  

        <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input type="text" name="username" class="form-control" required>
        </div>

        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" name="password" class="form-control" required>
        </div>

        <button type="submit" class="btn btn-primary w-100">Login</button>
    </form>

    <div class="mt-3 text-center">
        <p>New user? <a href="{% url 'user_auth:signup' %}">Register here</a></p>
    </div>
</div>

{% endblock %}

